@import "tailwindcss";
/* Scrollbar suave tipo WhatsApp */
.scrollbar-soft {
  scrollbar-width: thin;                 /* Firefox */
  scrollbar-color: rgba(0,0,0,.28) transparent;
}

/* Chrome / Edge / Safari */
.scrollbar-soft::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-soft::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-soft::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.22);
  border-radius: 999px;
  border: 2px solid transparent;         /* hace que se vea más delgado */
  background-clip: content-box;
}

.scrollbar-soft::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.32);
}
